<%- include("template/cabecera", {tituloWeb: 'Fórmula 1 | Editar'})%>

<div class="container">
    <h2 class="m-4 text-center">Detalles del piloto - Formula <span class="text-danger">1</span></h2>
    <div id="gradient2"></div>
    <a class="btn btn-danger btn-block my-4 w-25" href="/">Volver atrás</a>
    <% if (error) { %>
        <%= mensaje %>
        <a href="/"class="btn btn-danger btn-block my-2">Volver atrás</a>
    <% } %>

    <% if (!error) { %>
        <form id="editar" data-id="<%= piloto._id %>">
            <input type="number" value="<%= piloto.id %>" placeholder="Id" class="form-control my-2" name="id">
            <input type="text" value="<%= piloto.nombre %>" placeholder="Nombre" class="form-control my-2" name="nombre">
            <input type="number" value="<%= piloto.edad %>" placeholder="Edad" class="form-control my-2" name="edad">
            <label for="nacionalidad">Nacionalidad</label>
            <select type="text" placeholder="Nacionalidad" class="form-control my-2" name="nacionalidad">
                <option <% if (piloto.nacionalidad == 'Afganistán') { %>selected<% } %> value="Afganistán">Afganistán</option>
                <option <% if (piloto.nacionalidad == 'Albania') { %>selected<% } %> value="Albania">Albania</option>
                <option <% if (piloto.nacionalidad == 'Alemania') { %>selected<% } %> value="Alemania">Alemania</option>
                <option <% if (piloto.nacionalidad == 'Andorra') { %>selected<% } %> value="Andorra">Andorra</option>
                <option <% if (piloto.nacionalidad == 'Angola') { %>selected<% } %> value="Angola">Angola</option>
                <option <% if (piloto.nacionalidad == 'Anguilla') { %>selected<% } %> value="Anguilla">Anguilla</option>
                <option <% if (piloto.nacionalidad == 'Antártida') { %>selected<% } %> value="Antártida">Antártida</option>
                <option <% if (piloto.nacionalidad == 'Antigua y Barbuda') { %>selected<% } %> value="Antigua y Barbuda">Antigua y Barbuda</option>
                <option <% if (piloto.nacionalidad == 'Antillas Holandesas') { %>selected<% } %> value="Antillas Holandesas">Antillas Holandesas</option>
                <option <% if (piloto.nacionalidad == 'Arabia Saudí') { %>selected<% } %> value="Arabia Saudí">Arabia Saudí</option>
                <option <% if (piloto.nacionalidad == 'Argelia') { %>selected<% } %> value="Argelia">Argelia</option>
                <option <% if (piloto.nacionalidad == 'Argentina') { %>selected<% } %> value="Argentina">Argentina</option>
                <option <% if (piloto.nacionalidad == 'Armenia') { %>selected<% } %> value="Armenia">Armenia</option>
                <option <% if (piloto.nacionalidad == 'Aruba') { %>selected<% } %> value="Aruba">Aruba</option>
                <option <% if (piloto.nacionalidad == 'Australia') { %>selected<% } %> value="Australia">Australia</option>
                <option <% if (piloto.nacionalidad == 'Austria') { %>selected<% } %> value="Austria">Austria</option>
                <option <% if (piloto.nacionalidad == 'Azerbaiyán') { %>selected<% } %> value="Azerbaiyán">Azerbaiyán</option>
                <option <% if (piloto.nacionalidad == 'Bahamas') { %>selected<% } %> value="Bahamas">Bahamas</option>
                <option <% if (piloto.nacionalidad == 'Bahrein') { %>selected<% } %> value="Bahrein">Bahrein</option>
                <option <% if (piloto.nacionalidad == 'Bangladesh') { %>selected<% } %> value="Bangladesh">Bangladesh</option>
                <option <% if (piloto.nacionalidad == 'Barbados') { %>selected<% } %> value="Barbados">Barbados</option>
                <option <% if (piloto.nacionalidad == 'Bélgica') { %>selected<% } %> value="Bélgica">Bélgica</option>
                <option <% if (piloto.nacionalidad == 'Belice') { %>selected<% } %> value="Belice">Belice</option>
                <option <% if (piloto.nacionalidad == 'Benin') { %>selected<% } %> value="Benin">Benin</option>
                <option <% if (piloto.nacionalidad == 'Bermudas') { %>selected<% } %> value="Bermudas">Bermudas</option>
                <option <% if (piloto.nacionalidad == 'Bielorrusia') { %>selected<% } %> value="Bielorrusia">Bielorrusia</option>
                <option <% if (piloto.nacionalidad == 'Birmania') { %>selected<% } %> value="Birmania">Birmania</option>
                <option <% if (piloto.nacionalidad == 'Bolivia') { %>selected<% } %> value="Bolivia">Bolivia</option>
                <option <% if (piloto.nacionalidad == 'Bosnia y Herzegovina') { %>selected<% } %> value="Bosnia y Herzegovina">Bosnia y Herzegovina</option>
                <option <% if (piloto.nacionalidad == 'Botswana') { %>selected<% } %> value="Botswana">Botswana</option>
                <option <% if (piloto.nacionalidad == 'Brasil') { %>selected<% } %> value="Brasil">Brasil</option>
                <option <% if (piloto.nacionalidad == 'Brunei') { %>selected<% } %> value="Brunei">Brunei</option>
                <option <% if (piloto.nacionalidad == 'Bulgaria') { %>selected<% } %> value="Bulgaria">Bulgaria</option>
                <option <% if (piloto.nacionalidad == 'Burkina Faso') { %>selected<% } %> value="Burkina Faso">Burkina Faso</option>
                <option <% if (piloto.nacionalidad == 'Burundi') { %>selected<% } %> value="Burundi">Burundi</option>
                <option <% if (piloto.nacionalidad == 'Bután') { %>selected<% } %> value="Bután">Bután</option>
                <option <% if (piloto.nacionalidad == 'Cabo Verde') { %>selected<% } %> value="Cabo Verde">Cabo Verde</option>
                <option <% if (piloto.nacionalidad == 'Camboya') { %>selected<% } %> value="Camboya">Camboya</option>
                <option <% if (piloto.nacionalidad == 'Camerún') { %>selected<% } %> value="Camerún">Camerún</option>
                <option <% if (piloto.nacionalidad == 'Canadá') { %>selected<% } %> value="Canadá">Canadá</option>
                <option <% if (piloto.nacionalidad == 'Chad') { %>selected<% } %> value="Chad">Chad</option>
                <option <% if (piloto.nacionalidad == 'Chile') { %>selected<% } %> value="Chile">Chile</option>
                <option <% if (piloto.nacionalidad == 'China') { %>selected<% } %> value="China">China</option>
                <option <% if (piloto.nacionalidad == 'Chipre') { %>selected<% } %> value="Chipre">Chipre</option>
                <option <% if (piloto.nacionalidad == 'Ciudad del Vaticano (Santa Sede)') { %>selected<% } %> value="Ciudad del Vaticano (Santa Sede)">Ciudad del Vaticano (Santa Sede)</option>
                <option <% if (piloto.nacionalidad == 'Colombia') { %>selected<% } %> value="Colombia">Colombia</option>
                <option <% if (piloto.nacionalidad == 'Comores') { %>selected<% } %> value="Comores">Comores</option>
                <option <% if (piloto.nacionalidad == 'Congo') { %>selected<% } %> value="Congo">Congo</option>
                <option <% if (piloto.nacionalidad == 'República Democrática del Congo') { %>selected<% } %> value="República Democrática del Congo">Congo, República Democrática del</option>
                <option <% if (piloto.nacionalidad == 'Corea del Sur') { %>selected<% } %> value="Corea del Sur">Corea del Sur</option>
                <option <% if (piloto.nacionalidad == 'Corea del Norte') { %>selected<% } %> value="Corea del Norte">Corea del Norte</option>
                <option <% if (piloto.nacionalidad == 'Costa de Marfíl') { %>selected<% } %> value="Costa de Marfíl">Costa de Marfíl</option>
                <option <% if (piloto.nacionalidad == 'Costa Rica') { %>selected<% } %> value="Costa Rica">Costa Rica</option>
                <option <% if (piloto.nacionalidad == 'Croacia') { %>selected<% } %> value="Croacia">Croacia</option>
                <option <% if (piloto.nacionalidad == 'Cuba') { %>selected<% } %> value="Cuba">Cuba</option>
                <option <% if (piloto.nacionalidad == 'Dinamarca') { %>selected<% } %> value="Dinamarca">Dinamarca</option>
                <option <% if (piloto.nacionalidad == 'Djibouti') { %>selected<% } %> value="Djibouti">Djibouti</option>
                <option <% if (piloto.nacionalidad == 'Dominica') { %>selected<% } %> value="Dominica">Dominica</option>
                <option <% if (piloto.nacionalidad == 'Ecuador') { %>selected<% } %> value="Ecuador">Ecuador</option>
                <option <% if (piloto.nacionalidad == 'Egipto') { %>selected<% } %> value="Egipto">Egipto</option>
                <option <% if (piloto.nacionalidad == 'El Salvador') { %>selected<% } %> value="El Salvador">El Salvador</option>
                <option <% if (piloto.nacionalidad == 'Emiratos Árabes Unidos') { %>selected<% } %> value="Emiratos Árabes Unidos">Emiratos Árabes Unidos</option>
                <option <% if (piloto.nacionalidad == 'Eritrea') { %>selected<% } %> value="Eritrea">Eritrea</option>
                <option <% if (piloto.nacionalidad == 'Eslovenia') { %>selected<% } %> value="Eslovenia">Eslovenia</option>
                <option <% if (piloto.nacionalidad == 'España') { %>selected<% } %> value="España" selected>España</option>
                <option <% if (piloto.nacionalidad == 'Estados Unidos') { %>selected<% } %> value="Estados Unidos">Estados Unidos</option>
                <option <% if (piloto.nacionalidad == 'Estonia') { %>selected<% } %> value="Estonia">Estonia</option>
                <option <% if (piloto.nacionalidad == 'Etiopía') { %>selected<% } %> value="Etiopía">Etiopía</option>
                <option <% if (piloto.nacionalidad == 'Fiji') { %>selected<% } %> value="Fiji">Fiji</option>
                <option <% if (piloto.nacionalidad == 'Filipinas') { %>selected<% } %> value="Filipinas">Filipinas</option>
                <option <% if (piloto.nacionalidad == 'Finlandia') { %>selected<% } %> value="Finlandia">Finlandia</option>
                <option <% if (piloto.nacionalidad == 'Francia') { %>selected<% } %> value="Francia">Francia</option>
                <option <% if (piloto.nacionalidad == 'Gabón') { %>selected<% } %> value="Gabón">Gabón</option>
                <option <% if (piloto.nacionalidad == 'Gambia') { %>selected<% } %> value="Gambia">Gambia</option>
                <option <% if (piloto.nacionalidad == 'Georgia') { %>selected<% } %> value="Georgia">Georgia</option>
                <option <% if (piloto.nacionalidad == 'Ghana') { %>selected<% } %> value="Ghana">Ghana</option>
                <option <% if (piloto.nacionalidad == 'Gibraltar') { %>selected<% } %> value="Gibraltar">Gibraltar</option>
                <option <% if (piloto.nacionalidad == 'Granada') { %>selected<% } %> value="Granada">Granada</option>
                <option <% if (piloto.nacionalidad == 'Gran Bretaña') { %>selected<% } %> value="Gran Bretaña">Gran Bretaña</option>
                <option <% if (piloto.nacionalidad == 'Grecia') { %>selected<% } %> value="Grecia">Grecia</option>
                <option <% if (piloto.nacionalidad == 'Groenlandia') { %>selected<% } %> value="Groenlandia">Groenlandia</option>
                <option <% if (piloto.nacionalidad == 'Guadalupe') { %>selected<% } %> value="Guadalupe">Guadalupe</option>
                <option <% if (piloto.nacionalidad == 'Guam') { %>selected<% } %> value="Guam">Guam</option>
                <option <% if (piloto.nacionalidad == 'Guatemala') { %>selected<% } %> value="Guatemala">Guatemala</option>
                <option <% if (piloto.nacionalidad == 'Guayana') { %>selected<% } %> value="Guayana">Guayana</option>
                <option <% if (piloto.nacionalidad == 'Guayana Francesa') { %>selected<% } %> value="Guayana Francesa">Guayana Francesa</option>
                <option <% if (piloto.nacionalidad == 'Guinea') { %>selected<% } %> value="Guinea">Guinea</option>
                <option <% if (piloto.nacionalidad == 'Guinea Ecuatorial') { %>selected<% } %> value="Guinea Ecuatorial">Guinea Ecuatorial</option>
                <option <% if (piloto.nacionalidad == 'Guinea-Bissau') { %>selected<% } %> value="Guinea-Bissau">Guinea-Bissau</option>
                <option <% if (piloto.nacionalidad == 'Haití') { %>selected<% } %> value="Haití">Haití</option>
                <option <% if (piloto.nacionalidad == 'Honduras') { %>selected<% } %> value="Honduras">Honduras</option>
                <option <% if (piloto.nacionalidad == 'Hungría') { %>selected<% } %> value="Hungría">Hungría</option>
                <option <% if (piloto.nacionalidad == 'India') { %>selected<% } %> value="India">India</option>
                <option <% if (piloto.nacionalidad == 'Indonesia') { %>selected<% } %> value="Indonesia">Indonesia</option>
                <option <% if (piloto.nacionalidad == 'Irak') { %>selected<% } %> value="Irak">Irak</option>
                <option <% if (piloto.nacionalidad == 'Irán') { %>selected<% } %> value="Irán">Irán</option>
                <option <% if (piloto.nacionalidad == 'Irlanda') { %>selected<% } %> value="Irlanda">Irlanda</option>
                <option <% if (piloto.nacionalidad == 'Isla Bouvet') { %>selected<% } %> value="Isla Bouvet">Isla Bouvet</option>
                <option <% if (piloto.nacionalidad == 'Isla de Christmas') { %>selected<% } %> value="Isla de Christmas">Isla de Christmas</option>
                <option <% if (piloto.nacionalidad == 'Islandia') { %>selected<% } %> value="Islandia">Islandia</option>
                <option <% if (piloto.nacionalidad == 'Islas Caimán') { %>selected<% } %> value="Islas Caimán">Islas Caimán</option>
                <option <% if (piloto.nacionalidad == 'Islas Cook') { %>selected<% } %> value="Islas Cook">Islas Cook</option>
                <option <% if (piloto.nacionalidad == 'Islas de Cocos o Keeling') { %>selected<% } %> value="Islas de Cocos o Keeling">Islas de Cocos o Keeling</option>
                <option <% if (piloto.nacionalidad == 'Islas Faroe') { %>selected<% } %> value="Islas Faroe">Islas Faroe</option>
                <option <% if (piloto.nacionalidad == 'Islas Heard y McDonald') { %>selected<% } %> value="Islas Heard y McDonald">Islas Heard y McDonald</option>
                <option <% if (piloto.nacionalidad == 'Islas Malvinas') { %>selected<% } %> value="Islas Malvinas">Islas Malvinas</option>
                <option <% if (piloto.nacionalidad == 'Islas Marianas del Norte') { %>selected<% } %> value="Islas Marianas del Norte">Islas Marianas del Norte</option>
                <option <% if (piloto.nacionalidad == 'Islas Marshall') { %>selected<% } %> value="Islas Marshall">Islas Marshall</option>
                <option <% if (piloto.nacionalidad == 'Islas menores de Estados Unidos') { %>selected<% } %> value="Islas menores de Estados Unidos">Islas menores de Estados Unidos</option>
                <option <% if (piloto.nacionalidad == 'Islas Palau') { %>selected<% } %> value="Islas Palau">Islas Palau</option>
                <option <% if (piloto.nacionalidad == 'Islas Salomón') { %>selected<% } %> value="Islas Salomón">Islas Salomón</option>
                <option <% if (piloto.nacionalidad == 'Islas Svalbard y Jan Mayen') { %>selected<% } %> value="Islas Svalbard y Jan Mayen">Islas Svalbard y Jan Mayen</option>
                <option <% if (piloto.nacionalidad == 'Islas Tokelau') { %>selected<% } %> value="Islas Tokelau">Islas Tokelau</option>
                <option <% if (piloto.nacionalidad == 'Islas Turks y Caicos') { %>selected<% } %> value="Islas Turks y Caicos">Islas Turks y Caicos</option>
                <option <% if (piloto.nacionalidad == 'Islas Vírgenes (EEUU)') { %>selected<% } %> value="Islas Vírgenes (EEUU)">Islas Vírgenes (EEUU)</option>
                <option <% if (piloto.nacionalidad == 'Islas Vírgenes (Reino Unido)') { %>selected<% } %> value="Islas Vírgenes (Reino Unido)">Islas Vírgenes (Reino Unido)</option>
                <option <% if (piloto.nacionalidad == 'Islas Wallis y Futuna') { %>selected<% } %> value="Islas Wallis y Futuna">Islas Wallis y Futuna</option>
                <option <% if (piloto.nacionalidad == 'Israel') { %>selected<% } %> value="Israel">Israel</option>
                <option <% if (piloto.nacionalidad == 'Italia') { %>selected<% } %> value="Italia">Italia</option>
                <option <% if (piloto.nacionalidad == 'Jamaica') { %>selected<% } %> value="Jamaica">Jamaica</option>
                <option <% if (piloto.nacionalidad == 'Japón') { %>selected<% } %> value="Japón">Japón</option>
                <option <% if (piloto.nacionalidad == 'Jordania') { %>selected<% } %> value="Jordania">Jordania</option>
                <option <% if (piloto.nacionalidad == 'Kazajistán') { %>selected<% } %> value="Kazajistán">Kazajistán</option>
                <option <% if (piloto.nacionalidad == 'Kenia') { %>selected<% } %> value="Kenia">Kenia</option>
                <option <% if (piloto.nacionalidad == 'Kirguizistán') { %>selected<% } %> value="Kirguizistán">Kirguizistán</option>
                <option <% if (piloto.nacionalidad == 'Kiribati') { %>selected<% } %> value="Kiribati">Kiribati</option>
                <option <% if (piloto.nacionalidad == 'Kuwait') { %>selected<% } %> value="Kuwait">Kuwait</option>
                <option <% if (piloto.nacionalidad == 'Laos') { %>selected<% } %> value="Laos">Laos</option>
                <option <% if (piloto.nacionalidad == 'Lesotho') { %>selected<% } %> value="Lesotho">Lesotho</option>
                <option <% if (piloto.nacionalidad == 'Letonia') { %>selected<% } %> value="Letonia">Letonia</option>
                <option <% if (piloto.nacionalidad == 'Líbano') { %>selected<% } %> value="Líbano">Líbano</option>
                <option <% if (piloto.nacionalidad == 'Liberia') { %>selected<% } %> value="Liberia">Liberia</option>
                <option <% if (piloto.nacionalidad == 'Libia') { %>selected<% } %> value="Libia">Libia</option>
                <option <% if (piloto.nacionalidad == 'Liechtenstein') { %>selected<% } %> value="Liechtenstein">Liechtenstein</option>
                <option <% if (piloto.nacionalidad == 'Lituania') { %>selected<% } %> value="Lituania">Lituania</option>
                <option <% if (piloto.nacionalidad == 'Luxemburgo') { %>selected<% } %> value="Luxemburgo">Luxemburgo</option>
                <option <% if (piloto.nacionalidad == 'Ex-República Yugoslava de Macedonia') { %>selected<% } %> value="Ex-República Yugoslava de Macedonia">Macedonia, Ex-República Yugoslava de</option>
                <option <% if (piloto.nacionalidad == 'Madagascar') { %>selected<% } %> value="Madagascar">Madagascar</option>
                <option <% if (piloto.nacionalidad == 'Malasia') { %>selected<% } %> value="Malasia">Malasia</option>
                <option <% if (piloto.nacionalidad == 'Malawi') { %>selected<% } %> value="Malawi">Malawi</option>
                <option <% if (piloto.nacionalidad == 'Maldivas') { %>selected<% } %> value="Maldivas">Maldivas</option>
                <option <% if (piloto.nacionalidad == 'Malí') { %>selected<% } %> value="Malí">Malí</option>
                <option <% if (piloto.nacionalidad == 'Malta') { %>selected<% } %> value="Malta">Malta</option>
                <option <% if (piloto.nacionalidad == 'Marruecos') { %>selected<% } %> value="Marruecos">Marruecos</option>
                <option <% if (piloto.nacionalidad == 'Martinica') { %>selected<% } %> value="Martinica">Martinica</option>
                <option <% if (piloto.nacionalidad == 'Mauricio') { %>selected<% } %> value="Mauricio">Mauricio</option>
                <option <% if (piloto.nacionalidad == 'Mauritania') { %>selected<% } %> value="Mauritania">Mauritania</option>
                <option <% if (piloto.nacionalidad == 'Mayotte') { %>selected<% } %> value="Mayotte">Mayotte</option>
                <option <% if (piloto.nacionalidad == 'México') { %>selected<% } %> value="México">México</option>
                <option <% if (piloto.nacionalidad == 'Micronesia') { %>selected<% } %> value="Micronesia">Micronesia</option>
                <option <% if (piloto.nacionalidad == 'Moldavia') { %>selected<% } %> value="Moldavia">Moldavia</option>
                <option <% if (piloto.nacionalidad == 'Mónaco') { %>selected<% } %> value="Mónaco">Mónaco</option>
                <option <% if (piloto.nacionalidad == 'Mongolia') { %>selected<% } %> value="Mongolia">Mongolia</option>
                <option <% if (piloto.nacionalidad == 'Montserrat') { %>selected<% } %> value="Montserrat">Montserrat</option>
                <option <% if (piloto.nacionalidad == 'Mozambique') { %>selected<% } %> value="Mozambique">Mozambique</option>
                <option <% if (piloto.nacionalidad == 'Namibia') { %>selected<% } %> value="Namibia">Namibia</option>
                <option <% if (piloto.nacionalidad == 'Nauru') { %>selected<% } %> value="Nauru">Nauru</option>
                <option <% if (piloto.nacionalidad == 'Nepal') { %>selected<% } %> value="Nepal">Nepal</option>
                <option <% if (piloto.nacionalidad == 'Nicaragua') { %>selected<% } %> value="Nicaragua">Nicaragua</option>
                <option <% if (piloto.nacionalidad == 'Níger') { %>selected<% } %> value="Níger">Níger</option>
                <option <% if (piloto.nacionalidad == 'Nigeria') { %>selected<% } %> value="Nigeria">Nigeria</option>
                <option <% if (piloto.nacionalidad == 'Niue') { %>selected<% } %> value="Niue">Niue</option>
                <option <% if (piloto.nacionalidad == 'Norfolk') { %>selected<% } %> value="Norfolk">Norfolk</option>
                <option <% if (piloto.nacionalidad == 'Noruega') { %>selected<% } %> value="Noruega">Noruega</option>
                <option <% if (piloto.nacionalidad == 'Nueva Caledonia') { %>selected<% } %> value="Nueva Caledonia">Nueva Caledonia</option>
                <option <% if (piloto.nacionalidad == 'Nueva Zelanda') { %>selected<% } %> value="Nueva Zelanda">Nueva Zelanda</option>
                <option <% if (piloto.nacionalidad == 'Omán') { %>selected<% } %> value="Omán">Omán</option>
                <option <% if (piloto.nacionalidad == 'Países Bajos') { %>selected<% } %> value="Países Bajos">Países Bajos</option>
                <option <% if (piloto.nacionalidad == 'Panamá') { %>selected<% } %> value="Panamá">Panamá</option>
                <option <% if (piloto.nacionalidad == 'Papúa Nueva Guinea') { %>selected<% } %> value="Papúa Nueva Guinea">Papúa Nueva Guinea</option>
                <option <% if (piloto.nacionalidad == 'Paquistán') { %>selected<% } %> value="Paquistán">Paquistán</option>
                <option <% if (piloto.nacionalidad == 'Paraguay') { %>selected<% } %> value="Paraguay">Paraguay</option>
                <option <% if (piloto.nacionalidad == 'Perú') { %>selected<% } %> value="Perú">Perú</option>
                <option <% if (piloto.nacionalidad == 'Pitcairn') { %>selected<% } %> value="Pitcairn">Pitcairn</option>
                <option <% if (piloto.nacionalidad == 'Polinesia Francesa') { %>selected<% } %> value="Polinesia Francesa">Polinesia Francesa</option>
                <option <% if (piloto.nacionalidad == 'Polonia') { %>selected<% } %> value="Polonia">Polonia</option>
                <option <% if (piloto.nacionalidad == 'Portugal') { %>selected<% } %> value="Portugal">Portugal</option>
                <option <% if (piloto.nacionalidad == 'Puerto Rico') { %>selected<% } %> value="Puerto Rico">Puerto Rico</option>
                <option <% if (piloto.nacionalidad == 'Qatar') { %>selected<% } %> value="Qatar">Qatar</option>
                <option <% if (piloto.nacionalidad == 'República Centroafricana') { %>selected<% } %> value="República Centroafricana">República Centroafricana</option>
                <option <% if (piloto.nacionalidad == 'República Checa') { %>selected<% } %> value="República Checa">República Checa</option>
                <option <% if (piloto.nacionalidad == 'República de Sudáfrica') { %>selected<% } %> value="República de Sudáfrica">República de Sudáfrica</option>
                <option <% if (piloto.nacionalidad == 'República Dominicana') { %>selected<% } %> value="República Dominicana">República Dominicana</option>
                <option <% if (piloto.nacionalidad == 'República Eslovaca') { %>selected<% } %> value="República Eslovaca">República Eslovaca</option>
                <option <% if (piloto.nacionalidad == 'Reunión') { %>selected<% } %> value="Reunión">Reunión</option>
                <option <% if (piloto.nacionalidad == 'Ruanda') { %>selected<% } %> value="Ruanda">Ruanda</option>
                <option <% if (piloto.nacionalidad == 'Rumania') { %>selected<% } %> value="Rumania">Rumania</option>
                <option <% if (piloto.nacionalidad == 'Rusia') { %>selected<% } %> value="Rusia">Rusia</option>
                <option <% if (piloto.nacionalidad == 'Sahara Occidental') { %>selected<% } %> value="Sahara Occidental">Sahara Occidental</option>
                <option <% if (piloto.nacionalidad == 'Saint Kitts y Nevis') { %>selected<% } %> value="Saint Kitts y Nevis">Saint Kitts y Nevis</option>
                <option <% if (piloto.nacionalidad == 'Samoa') { %>selected<% } %> value="Samoa">Samoa</option>
                <option <% if (piloto.nacionalidad == 'Samoa Americana') { %>selected<% } %> value="Samoa Americana">Samoa Americana</option>
                <option <% if (piloto.nacionalidad == 'San Marino') { %>selected<% } %> value="San Marino">San Marino</option>
                <option <% if (piloto.nacionalidad == 'San Vicente y Granadinas') { %>selected<% } %> value="San Vicente y Granadinas">San Vicente y Granadinas</option>
                <option <% if (piloto.nacionalidad == 'Santa Helena') { %>selected<% } %> value="Santa Helena">Santa Helena</option>
                <option <% if (piloto.nacionalidad == 'Santa Lucía') { %>selected<% } %> value="Santa Lucía">Santa Lucía</option>
                <option <% if (piloto.nacionalidad == 'Santo Tomé y Príncipe') { %>selected<% } %> value="Santo Tomé y Príncipe">Santo Tomé y Príncipe</option>
                <option <% if (piloto.nacionalidad == 'Senegal') { %>selected<% } %> value="Senegal">Senegal</option>
                <option <% if (piloto.nacionalidad == 'Seychelles') { %>selected<% } %> value="Seychelles">Seychelles</option>
                <option <% if (piloto.nacionalidad == 'Sierra Leona') { %>selected<% } %> value="Sierra Leona">Sierra Leona</option>
                <option <% if (piloto.nacionalidad == 'Singapur') { %>selected<% } %> value="Singapur">Singapur</option>
                <option <% if (piloto.nacionalidad == 'Siria') { %>selected<% } %> value="Siria">Siria</option>
                <option <% if (piloto.nacionalidad == 'Somalia') { %>selected<% } %> value="Somalia">Somalia</option>
                <option <% if (piloto.nacionalidad == 'Sri Lanka') { %>selected<% } %> value="Sri Lanka">Sri Lanka</option>
                <option <% if (piloto.nacionalidad == 'St Pierre y Miquelon') { %>selected<% } %> value="St Pierre y Miquelon">St Pierre y Miquelon</option>
                <option <% if (piloto.nacionalidad == 'Suazilandia') { %>selected<% } %> value="Suazilandia">Suazilandia</option>
                <option <% if (piloto.nacionalidad == 'Sudán') { %>selected<% } %> value="Sudán">Sudán</option>
                <option <% if (piloto.nacionalidad == 'Suecia') { %>selected<% } %> value="Suecia">Suecia</option>
                <option <% if (piloto.nacionalidad == 'Suiza') { %>selected<% } %> value="Suiza">Suiza</option>
                <option <% if (piloto.nacionalidad == 'Surinam') { %>selected<% } %> value="Surinam">Surinam</option>
                <option <% if (piloto.nacionalidad == 'Tailandia') { %>selected<% } %> value="Tailandia">Tailandia</option>
                <option <% if (piloto.nacionalidad == 'Taiwán') { %>selected<% } %> value="Taiwán">Taiwán</option>
                <option <% if (piloto.nacionalidad == 'Tanzania') { %>selected<% } %> value="Tanzania">Tanzania</option>
                <option <% if (piloto.nacionalidad == 'Tayikistán') { %>selected<% } %> value="Tayikistán">Tayikistán</option>
                <option <% if (piloto.nacionalidad == 'Territorios franceses del Sur') { %>selected<% } %> value="Territorios franceses del Sur">Territorios franceses del Sur</option>
                <option <% if (piloto.nacionalidad == 'Timor Oriental') { %>selected<% } %> value="Timor Oriental">Timor Oriental</option>
                <option <% if (piloto.nacionalidad == 'Togo') { %>selected<% } %> value="Togo">Togo</option>
                <option <% if (piloto.nacionalidad == 'Tonga') { %>selected<% } %> value="Tonga">Tonga</option>
                <option <% if (piloto.nacionalidad == 'Trinidad y Tobago') { %>selected<% } %> value="Trinidad y Tobago">Trinidad y Tobago</option>
                <option <% if (piloto.nacionalidad == 'Túnez') { %>selected<% } %> value="Túnez">Túnez</option>
                <option <% if (piloto.nacionalidad == 'Turkmenistán') { %>selected<% } %> value="Turkmenistán">Turkmenistán</option>
                <option <% if (piloto.nacionalidad == 'Turquía') { %>selected<% } %> value="Turquía">Turquía</option>
                <option <% if (piloto.nacionalidad == 'Tuvalu') { %>selected<% } %> value="Tuvalu">Tuvalu</option>
                <option <% if (piloto.nacionalidad == 'Ucrania') { %>selected<% } %> value="Ucrania">Ucrania</option>
                <option <% if (piloto.nacionalidad == 'Uganda') { %>selected<% } %> value="Uganda">Uganda</option>
                <option <% if (piloto.nacionalidad == 'Uruguay') { %>selected<% } %> value="Uruguay">Uruguay</option>
                <option <% if (piloto.nacionalidad == 'Uzbekistán') { %>selected<% } %> value="Uzbekistán">Uzbekistán</option>
                <option <% if (piloto.nacionalidad == 'Vanuatu') { %>selected<% } %> value="Vanuatu">Vanuatu</option>
                <option <% if (piloto.nacionalidad == 'Venezuela') { %>selected<% } %> value="Venezuela">Venezuela</option>
                <option <% if (piloto.nacionalidad == 'Vietnam') { %>selected<% } %> value="Vietnam">Vietnam</option>
                <option <% if (piloto.nacionalidad == 'Yemen') { %>selected<% } %> value="Yemen">Yemen</option>
                <option <% if (piloto.nacionalidad == 'Yugoslavia') { %>selected<% } %> value="Yugoslavia">Yugoslavia</option>
                <option <% if (piloto.nacionalidad == 'Zambia') { %>selected<% } %> value="Zambia">Zambia</option>
                <option <% if (piloto.nacionalidad == 'Zimbabue') { %>selected<% } %> value="Zimbabue">Zimbabue</option>
            </select>
            <input type="number" value="<%= piloto.numParrilla %>" placeholder="Dorsal de parrilla" class="form-control my-2" name="numParrilla" min="0" max="99">
            <input type="number" value="<%= piloto.numCarreras %>" placeholder="Número de carreras" class="form-control my-2" name="numCarreras">
            <input type="number" value="<%= piloto.numVictorias %>" placeholder="Número de victorias" class="form-control my-2" name="numVictorias">
            <input type="number" value="<%= piloto.numPodios %>" placeholder="Número de podios" class="form-control my-2" name="numPodios">
            <label for="equipoActual">Equipo actual</label>
            <select type="text" placeholder="Equipo actual" class="form-control my-2" name="equipoActual">
                <option <% if (piloto.equipoActual == 'Alfa Romeo') { %>selected<% } %> value="Alfa Romeo">Alfa Romeo</option>
                <option <% if (piloto.equipoActual == 'Alpha Tauri') { %>selected<% } %> value="Alpha Tauri">Alpha Tauri</option>
                <option <% if (piloto.equipoActual == 'Alpine') { %>selected<% } %> value="Alpine">Alpine</option>
                <option <% if (piloto.equipoActual == 'Aston Martin') { %>selected<% } %> value="Aston Martin">Aston Martin</option>
                <option <% if (piloto.equipoActual == 'Ferrari') { %>selected<% } %> value="Ferrari">Ferrari</option>
                <option <% if (piloto.equipoActual == 'Haas') { %>selected<% } %> value="Haas">Haas</option>
                <option <% if (piloto.equipoActual == 'McLaren') { %>selected<% } %> value="McLaren">McLaren</option>
                <option <% if (piloto.equipoActual == 'Mercedes') { %>selected<% } %> value="Mercedes">Mercedes</option>
                <option <% if (piloto.equipoActual == 'Red Bull') { %>selected<% } %> value="Red Bull">Red Bull</option>
                <option <% if (piloto.equipoActual == 'Williams') { %>selected<% } %> value="Williams">Williams</option>
            </select>
            <button class="btn btn-dark btn-block" type="submit">Actualizar</button>
        </form>
    <% } %>
    </div>

<%- include('template/footer') %>

<script>
    const formEditar = document.querySelector('#editar');
          formEditar.addEventListener('submit', async (e) => {
            e.preventDefault()
            const id = formEditar.elements['id'].value
            const nombre = formEditar.elements['nombre'].value
            const edad = formEditar.elements['edad'].value
            const nacionalidad = formEditar.elements['nacionalidad'].value
            const numParrilla = formEditar.elements['numParrilla'].value
            const numCarreras = formEditar.elements['numCarreras'].value
            const numVictorias = formEditar.elements['numVictorias'].value
            const numPodios = formEditar.elements['numPodios'].value
            const equipoActual = formEditar.elements['equipoActual'].value
            const _id = formEditar.dataset.id
            const data = await fetch(`/detalles/${_id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id,nombre,edad,nacionalidad,numParrilla,numCarreras,numVictorias,numPodios,equipoActual})
            })
            const res = await data.json()
            if (res.estado) {
                window.location.href = '/'
            } else {
                console.log(res)
            }
          })
</script>