<%- include("template/cabecera", {tituloWeb: 'Fórmula 1 | Pilotos'})%>

<div class="container-fluid">

    <h1 class="m-4 text-center">CRUD MongoDB - Formula <span class="text-danger">1</span></h1>
    <div id="gradient"></div>
    <a class="btn btn-dark btn-block my-4" href="/crear">Crear nuevo piloto</a>

    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
                <th scope="col">Nacionalidad</th>
                <th scope="col">Número de parrilla</th>
                <th scope="col">Número de carreras</th>
                <th scope="col">Número de victorias</th>
                <th scope="col">Número de podios</th>
                <th scope="col">Equipo actual</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>

        <!-- Si existen elementos en el array de Pilotos -->
        <% if(arrayPilotos.length > 0) { %>

            <!-- Haremos el forEach para recorrer el array -->
            <% arrayPilotos.forEach(pilotos => { %>

                <!-- Mostramos todos los pilotos en una tabla -->
                    <tr>
                        <th scope="row"><%= pilotos.id %></th>
                        <td><%= pilotos.nombre %></td>
                        <td><%= pilotos.edad %> años</td>
                        <td><%= pilotos.nacionalidad %></td>
                        <td><%= pilotos.numParrilla %></td>
                        <td><%= pilotos.numCarreras %></td>
                        <td><%= pilotos.numVictorias %></td>
                        <td><%= pilotos.numPodios %></td>
                        <td><%= pilotos.equipoActual %></td>
                        <td><a class="btn btn-dark btn-sm" href="/detalles/<%= pilotos._id %>">Editar</a>
                            <button id="eliminar<% pilotos._id %>" class="btn btn-danger btn-sm" data-id="<%= pilotos._id %>" onclick="eliminar(this)">Eliminar</button></td>
                    </tr>
    
            <% }) %>
        <% } %> 

        </tbody>
    </table>
</div>

<%- include('template/footer') %>

<script defer>
    async function eliminar(button) {
        const btnEliminar = button;
        try {
            const data = await fetch(`/${btnEliminar.dataset.id}`, {
                method: 'delete'
            })
            const res = await data.json()
            console.log(res)
            if (res.estado) {
                window.location.href = '/'
            } else {
                console.log(res)
            }
        } catch (error) {
            console.log(error)
        }
    }
</script>